<div class="background">

  <div class='vt'>
    <%= image_tag("VT.jpg", :alt => "VT") %>
  </div>

  <div class="subjects">
    
    <div class="design">
      <h2>
        <%= link_to designs_path do %>
          <%= image_tag("dot_Design.jpg", :alt => "Design") %><p class="subjects">Design</p>
        <% end %>
      </h2>
    </div>

    <div>
      <h2 class="art">
        <%= link_to arts_path do%>
        <%= image_tag("dot_art.jpg", :alt => "Art") %>
        <p class="subjects">Art</p>
        <% end %>
      </h2>
      <h2 class="sustain">
      <%= image_tag("dot_Sustain.jpg", :alt => "Sustainability") %>Sustainability
      </h2>
    </div>  

    <div>
      <h2 class="services">
      <%= image_tag("dot_Services.jpg", :alt => "Services") %>Services
      </h2>
    </div>

    <div>
      <h2 class="Psy">
      <%= image_tag("dot_Psy.jpg", :alt => "Psychology") %>Psychology
      </h2>

      <h2 class="scientist">
      <%= image_tag("dot_Scientist.jpg", :alt => "Scientist") %>Scientist
      </h2>
    </div>

  </div>

</div>