.background {
  background-color: rgba(0, 0, 0, 1);
  height: 3000px;
}

.vt{
  margin-top: 0%;
}

.subjects{
  color: white;
  font-family: "Poiret One", arial;
}

.design{
  margin-left: 55%;
}

.art{
  margin-left: 20%;
}

.services{
  margin-left: 45%;
}

.sustain{
  text-align: right;
  margin-right: 10%;
}

.Psy{
  margin-left: 30%;
}

.scientist{
  margin-left: 70%;
}
